<style>
    #app {
        display: flex;
        padding-top: 30px;
        justify-content: space-between;
        background-color: burlywood;
        height: 200px;
    }

    #anotherApp {
        display: flex;
        padding-top: 30px;
        justify-content: space-around;
        background-color: burlywood;
        height: 200px;
    }

    .plan {
        color: white;
        background-color: pink;
        width: 70px;
        height: 50px;
        line-height: 50px;
        font-weight: bold;
    }

    #app,
    #anotherApp,
    h2 {
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }
</style>

<body>
    <div id="app">
        <!-- <h2 class="subtitle">hello reuseable & effective</h2> -->
        <plan v-for="plan in plans" :name="plan"></plan>
    </div>
    <div id="anotherApp">
        <plan v-for="plan in plans" :name="plan"></plan>
    </div>
</body>

<template id="plan">
    <div class="plan">
        <div class="item">
            <div class="desc">
                <span>{{name}}</span>
            </div>
        </div>
    </div>
</template>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="./main.js"></script>